<p id="notice"><%= notice %></p>

<p>
  <strong>Closedateindate:</strong>
  <%= @account.closeDateInDate %>
</p>

<p>
  <strong>Lastupdatedindate:</strong>
  <%= @account.lastUpdatedInDate %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @account.currency %>
</p>

<p>
  <strong>Interestrate:</strong>
  <%= @account.interestRate %>
</p>

<p>
  <strong>Dueamt:</strong>
  <%= @account.dueAmt %>
</p>

<p>
  <strong>Duedate:</strong>
  <%= @account.dueDate %>
</p>

<p>
  <strong>Accountid:</strong>
  <%= @account.accountId %>
</p>

<p>
  <strong>Filoginstatus:</strong>
  <%= @account.fiLoginStatus %>
</p>

<p>
  <strong>Addaccountdateindate:</strong>
  <%= @account.addAccountDateInDate %>
</p>

<p>
  <strong>Yodleeaccountnumberlastfour:</strong>
  <%= @account.yodleeAccountNumberLastFour %>
</p>

<p>
  <strong>Accountname:</strong>
  <%= @account.accountName %>
</p>

<p>
  <strong>Status:</strong>
  <%= @account.status %>
</p>

<p>
  <strong>Isclosed:</strong>
  <%= @account.isClosed %>
</p>

<p>
  <strong>Value:</strong>
  <%= @account.value %>
</p>

<p>
  <strong>Accounttype:</strong>
  <%= @account.accountType %>
</p>

<p>
  <strong>Iserror:</strong>
  <%= @account.isError %>
</p>

<p>
  <strong>Isactive:</strong>
  <%= @account.isActive %>
</p>

<p>
  <strong>Finame:</strong>
  <%= @account.fiName %>
</p>

<p>
  <strong>Currentbalance:</strong>
  <%= @account.currentBalance %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
